doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include ordre.css
    include common.css
  script(src='logik.js')
  script(src='server.js')
  title PaperSign
.tabbtn
  form(action = "/faktura" method="get")
    input(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Produkter")
  form(action = "/underskrift" method="get")
    input(class="button" type="submit" value="Underskrift")
.blankspace
.ordre
  div#productHeader="Ordre: "
  div#productHeader= specifikOrdre.ordreNr+""
  div#productHeader= "Dato: "
  div#productHeader= specifikOrdre.dato +""
  div#productHeader= "Samlet Pris: "
  div#productHeader= specifikOrdre.samletpris +",-"
  -var id = 1
    each fisk in specifikOrdre.betalingsmetode
      div#productHeader= "Betalingsmetode: "
      div#productHeader= "" + fisk.betalling
      div#productHeader= "Beløb: " 
      div#productHeader= fisk.beloeb + ",-"
      -id=id+1
    if (specifikOrdre.navn == "")
      div#productHeader= "Betaler: "
      div#productHeader= "Anonym betaling "
    else
      div#productHeader= "Betaler: "
      div#productHeader= specifikOrdre.navn +""

.odreoversigt 
  .overskrifter
    .overskrift Varenr
    .overskrift Navn
    .overskrift Pris
    .overskrift Antal
    .overskrift Total
  .ordrelinjer
    each data in specifikOrdre.ordrelinjer
      .ordrelinje
        div#info= data.produktnr
        div#info= data.navn
        div#info= data.pris
        div#info= data.antal 
        div#info= data.total
  .ordrelinjerBund
#psLogo
  img(src='/images/papersignLogo.png') 
